<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Generate Invoices</title>
<script type="text/javascript">
	function massCheck() {
		var checked = document.getElementById("selectAll").checked;
		$(".invoiceSelect").each(function(i, select) {
			select.checked = checked;
		})
	}
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="alert alert-warning" role="alert">
			<strong>Warning:</strong> For the accounts you select below, any
			currently open invoices will be closed and balance rolled over to new
			invoice.
		</div>
		<div class="row">
			<div class="offset-md-3 col-md-6">
				<form method="post" action="/invoices/save">
					<table class="table table-striped table-bordered table-sm">
						<thead class="thead-dark">
							<tr>
								<th scope="col"><div class="text-center">
										Select<br /> <input name="selectAll" id="selectAll"
											type="checkbox" onclick="massCheck()" checked="checked">
									</div></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="invoice,invoiceStat: ${invoiceList.items}">
								<tr>
									<td
										th:class="*{invoiceList.items[__${invoiceStat.index}__].amount} > 0 ? '' :'table-danger'"><input
										type="checkbox" class="invoiceSelect"
										th:id="*{invoiceList.items[__${invoiceStat.index}__].account.id}"
										th:field="*{invoiceList.items[__${invoiceStat.index}__].account}"
										th:value="*{invoiceList.items[__${invoiceStat.index}__].account.id}">
										<label
										th:for="*{invoiceList.items[__${invoiceStat.index}__].account.id}"
										th:text="*{invoiceList.items[__${invoiceStat.index}__].account.displayName}"></label>
										<br /> <input
										th:field="*{invoiceList.items[__${invoiceStat.index}__].amount}" /></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div class="text-right">
						<a href="/invoices" class="btn btn-secondary">Cancel</a>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>