<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<style type="text/css">
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="card-columns">
			<div class="card" th:each="invoice,stat: ${invoices}"
				th:classAppend="${invoice.amount > invoice.account.amount} ? 'border-danger' : 'border-success'">
				<div class="card-header"
					th:classAppend="${invoice.amount > invoice.account.amount} ? 'bg-danger' : 'bg-success'">
					<strong th:text="${invoice.account.displayName}"></strong>
				</div>
				<div class="card-body text-primary">
					<div class="card-text">
						<form method="post" action="transaction">
							<input type="hidden" name="id" th:value="${invoice.id}" />
							<div class="form-group row">
								<label th:for="|amount${stat.index}|"
									class="col-form-label col-sm-3"><strong>Amount
										<span style="color: red">*</span>
								</strong></label>
								<div class="input-group col-sm-9">
									<div class="input-group-prepend">
										<div class="input-group-text">$</div>
									</div>
									<input type="number" name="amount"
										th:id="|amount${stat.index}|" class="form-control" min="0"
										required="required" th:value="${invoice.amount}">
								</div>
							</div>
							<div class="form-group row">
								<div class="custom-control custom-checkbox col-sm-12">
									<input type="checkbox"
										class="custom-control-input"
										name="sendNotification"
										th:id="|sendNotification${stat.index}|" checked="checked"/><label
										class="custom-control-label"
										th:for="|sendNotification${stat.index}|">Send
										notification</label>
								</div>
							</div>
							<div class="text-right">
								<button name="transactionType" class="btn btn-success btn-sm"
									type="submit" value="paid"
									onclick="return confirm('Are you sure?');">Paid</button>
								<button name="transactionType" class="btn btn-primary btn-sm"
									type="submit" value="paidAndExcused"
									onclick="return confirm('Are you sure?');">Paid /
									Excused</button>
								<button name="transactionType" type="submit"
									class="btn btn-secondary btn-sm" value="excused"
									onclick="return confirm('Are you sure?');">Excused</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>