<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<style type="text/css">
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="card-columns">
			<div class="card" th:each="invoice: ${invoices}"
				th:classAppend="${invoice.amount > invoice.account.amount} ? 'border-danger' : 'border-success'">
				<div class="card-header"
					th:classAppend="${invoice.amount > invoice.account.amount} ? 'bg-danger' : 'bg-success'">
					<strong th:text="${invoice.account.displayName}"></strong>
				</div>
				<div class="card-body text-primary">
					<div class="card-text">
						<form method="post" action="transaction">
							<input type="hidden" name="id" th:value="${invoice.id}" />
							<div class="form-group row">
								<label for="amount" class="col-form-label col-sm-3"><strong>Amount
										<span style="color: red">*</span>
								</strong></label>
								<div class="input-group col-sm-9">
									<div class="input-group-prepend">
										<div class="input-group-text">$</div>
									</div>
									<input type="number" name="amount" id="amount"
										class="form-control" min="0" required="required"
										th:value="${invoice.amount}">
								</div>
							</div>
							<div class="text-right">
								<button name="transactionType" class="btn btn-success btn-sm" type="submit"
									value="paid">Paid</button>
								<button name="transactionType" class="btn btn-primary btn-sm" type="submit"
									value="paidAndExcused">Paid / Excused</button>
								<button name="transactionType" type="submit" class="btn btn-secondary btn-sm"
									value="excused">Excused</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>